---
applications:
- name: YOURAPP
  host: YOURAPP
  path: build/libs/conversation-with-discovery-0.1-SNAPSHOT.war
  memory: 512M
  instances: 1
  domain: eu-gb.mybluemix.net
  services:
  - Discovery
  - Conversation
  env:
    CONVERSATION_USERNAME: <EDIT THIS>
    CONVERSATION_PASSWORD: <EDIT THIS>
    WORKSPACE_ID: <EDIT THIS>
    DISCOVERY_PASSWORD: <EDIT THIS>
    DISCOVERY_USERNAME: <EDIT THIS>
    DISCOVERY_COLLECTION_ID: <EDIT THIS>
    DISCOVERY_ENVIRONMENT_ID: <EDIT THIS>


